In [1]:
# Reading the data file
import pandas as pd
climate_change_data = pd.read_csv("./climate_change_indicators.csv")
climate_change_data

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,221,Western Sahara,EH,ESH,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.423,1.401,1.510,1.732,2.204,0.942,1.477,2.069,1.593,1.970
221,222,World,NaN,WLD,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.016,1.053,1.412,1.660,1.429,1.290,1.444,1.711,1.447,1.394
222,223,"Yemen, Rep. of",YE,YEM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,Zambia,ZM,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.790,0.917,1.450,1.401,0.105,0.648,0.855,0.891,0.822,0.686
224,225,Zimbabwe,ZW,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.118,0.025,0.970,1.270,0.088,0.453,0.925,0.389,-0.125,-0.490

In [2]:
# FInding out the number of rows and columns in the dataset
climate_change_data.shape

(225, 72)

In [3]:
# Listing all column names and their data types
column_info = climate_change_data.dtypes
print("\nColumn Names and Data Types:")
print(column_info)

Column Names and Data Types:
ObjectId       int64
Country       object
ISO2          object
ISO3          object
Indicator     object
              ...
F2018        float64
F2019        float64
F2020        float64
F2021        float64
F2022        float64
Length: 72, dtype: object

In [4]:
# Filtering the dataset to include only the rcords for the United States
US_data = climate_change_data[climate_change_data['Country'] == 'United States']

# Count the number of records for the United States
US_record_count = len(US_data)
print("Number of records for the United States:", US_record_count)


# Calculate the average temperature change for the United States from 2000 to 2022
average_temp_change_US = US_data.loc[:, 'F2000':'F2022'].mean().mean()
print("Average temperature change for the United States from 2000 to 2022:", average_temp_change_US)

Number of records for the United States: 1
Average temperature change for the United States from 2000 to 2022: 1.0217391304347825

In [5]:
# Select only the columns representing temperature data
temperature_columns = climate_change_data.loc[:, 'F1961':'F2022']

# Calculate the mean temperature change for each row across all years available
mean_temp_change_by_country = temperature_columns.mean(axis=1)

# Find the country with the highest average temperature change
country_highest_avg_temp_change_idx = mean_temp_change_by_country.idxmax()
highest_avg_temp_change = mean_temp_change_by_country.max()
country_highest_avg_temp_change_name = climate_change_data.loc[country_highest_avg_temp_change_idx, 'Country']
print("Country with the highest average temperature change:", country_highest_avg_temp_change_name, "with highest average temperature change:", highest_avg_temp_change)

# Filter records for the period 2010 to 2022
climate_change_2010_2022 = temperature_columns.loc[:, 'F2010':'F2022']

# Calculate the mean temperature change for each row for the period 2010 to 2022
mean_temp_change_2010_2022_by_country = climate_change_2010_2022.mean(axis=1)

# Find the top 5 countries with the highest mean temperature change for the period 2010 to 2022
top_5_countries_2010_2022_idx = mean_temp_change_2010_2022_by_country.nlargest(5).index
top_5_countries_2010_2022_names = [climate_change_data.loc[idx, 'Country'] for idx in top_5_countries_2010_2022_idx]

print("\nTop 5 countries with the highest mean temperature change from 2010 to 2022:")
print(top_5_countries_2010_2022_names)

Country with the highest average temperature change: Luxembourg with highest average temperature change: 1.5843478260869568

Top 5 countries with the highest mean temperature change from 2010 to 2022:
['Russian Federation', 'Belarus, Rep. of', 'Kuwait', 'Estonia, Rep. of', 'Bahrain, Kingdom of']

In [6]:

# Filter records for the period 2000 to 2022
data_2000_2022 = climate_change_data.loc[:, 'F2000':'F2022']

# Calculate the mean temperature change for each country for the period 2000 to 2022
mean_temp_change_2000_2022_by_country = data_2000_2022.mean(axis=1)

# Add the calculated mean temperature change as a new column to the original DataFrame
climate_change_data['Avg_Temp_Change_2000_2022'] = mean_temp_change_2000_2022_by_country

# Group the data by country and calculate the mean temperature change for each country
mean_temp_change_by_country = climate_change_data.groupby('Country')['Avg_Temp_Change_2000_2022'].mean()

print(mean_temp_change_by_country)

Country
Afghanistan, Islamic Rep. of    1.107522
Albania                         1.170174
Algeria                         1.429000
American Samoa                  1.030727
Andorra, Principality of        1.521087
                                  ...
Western Sahara                  1.448087
World                           1.158217
Yemen, Rep. of                       NaN
Zambia                          0.748217
Zimbabwe                        0.270130
Name: Avg_Temp_Change_2000_2022, Length: 225, dtype: float64

In [7]:
# Filter records for the period from 1990 to 2022
data_1990_2022 = climate_change_data.loc[:, 'F1990':'F2022']

# Calculate the mean temperature change for each country for the period from 1990 to 2022
mean_temp_change_by_country = data_1990_2022.mean(axis=1)

grouped_mean_temp_change = mean_temp_change_by_country.groupby(climate_change_data['Country']).mean()

print(grouped_mean_temp_change)

Country
Afghanistan, Islamic Rep. of    0.878121
Albania                         0.917636
Algeria                         1.218818
American Samoa                  0.868633
Andorra, Principality of        1.355455
                                  ...
Western Sahara                  1.320152
World                           0.982030
Yemen, Rep. of                  0.282000
Zambia                          0.647545
Zimbabwe                        0.286091
Length: 225, dtype: float64